@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@media print {
  * {
    color-adjust: exact; /* Para Chrome */
    -webkit-print-color-adjust: exact; /* Para Safari */
    print-color-adjust: exact; /* Para otros navegadores */
  }
}
